
/* GENERAL */

html {  /* Float e left saranno sempre settati */
    float: left;
    width: 100%;
}

body {  /* Definizione del body */
    float: left;
    width: 100%;
    height: auto;
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    background-color: #242626;
    color:white;
}

button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* da aggiungere come container di ogni pagina */
.content-body {
    float: left;
    width: 98%;
    margin-left: 0.5%;
    margin-top: 1%;
    margin-bottom: 4%;
}

h1 {
    color: white;
    font-size: 280%;
    text-align: center;
}

a {
    color: rgb(221, 164, 21);
}

.messaggio-avviso {
    margin: 2%;
}

/*.error-message c'è sull'html ma manca sul css*/

/* FINE GENERAL */



/* HEADER */

header {
    float: left;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    background-color: rgb(221, 164, 21);
    overflow: visible;
    float: left;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 1.6% 1.5%;
    text-decoration: none;
    font-size: 1.3em; /* non funziona */
    font-weight: bold;
}

.navbar #logo {
    float: left;
    /*width: 10%;*/
}

.navbar #logo a:hover {
    background-color: #00665c;
}

.navbar #logo a img {
    width: 71px;
    height: auto;
}

.navbar a:hover {  /* Cambio del link color all'evento :hover */
    background-color: #232F34 ; /*rgb(221,164, 21)*/
    color: white;
}

#myHamburger {
    display: none;
    float: right;
}

/* FINE HEADER */



/* INDEX */

.index-letter {
    float: left;
    width: 80%;
    margin-left: 10%;
    height: auto;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.index-letter #letter-img-left img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.index-letter #letter-img-right img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Contenitore lettera 50%*/
.index-letter #letter-img-left {
    float: left;
    width: 50%;
    height: 100%;
}

/* Contenitore lettera 50%*/
.index-letter #letter-img-right {
    float: right;
    width: 50%;
    height: 100%;
}

/* Contenitore descrizione lettera 50%*/
.index-letter #let-desc{
    float: left;
    width: 50%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    color: white;
    line-height: 118%;
    word-spacing: 1.9px;
}

#letter-img-left img.resized {
    width: 100px;
    height: auto; }


.index-letter p {
    float: left;
    margin-top: 5%;
    height: 100%;
    vertical-align: center;
}

.intro {
    padding: 1%;
    margin: auto;
    margin-top: 2.5% !important;
    margin-bottom: 2% !important;
    width: 90%;
    border-radius: 2em;
    color: white;
    background-color: #00665c;
    font-size: 1.3em;
}

/* FINE INDEX */



/* FOOTER */

.footer {
    background-color: rgb(24,26,26);
    width: 100%;
    overflow: hidden;
    margin-top: 2%;
}

.footerFloat a{
    color: white;
}

.footerFloat {
    box-sizing: border-box;
    width: 50%;
    margin: 4% 0 1%;
    max-height: 250px;
    float: left;
    border-right: 1px solid grey;
}

.footerFloat p {
    font-size: 105%;
    color: whitesmoke;
    display: inline-block;
    position: relative;
    bottom: 160px;
    left: 415px;

}

.footerFloat ul{
    display: block;
    position: relative;
    margin: 4.1%;
}

.footerFloat ul li{
    font-size: 150%;
    list-style-type: disc;
    color: whitesmoke;
}

.instagram{
    position: relative;
    bottom: 150px;
    left: 400px;
    width: 28%;
    display: block;

}

.logo {
    position: relative;
    left: 110px;
    width: 25%;
    display: block;
}

.underFooter {
    font-size: 100%;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: whitesmoke;
    background-color: rgb(24,26,26);
}

/* FINE FOOTER */



/* NEWS */

.searchbar {
    margin-top: 8%;
    color:white;
}

.search {
    display: inline-block;
    padding: 0 2.4%;
    border-right: 2px solid grey;
}

.search:last-child {
    padding: 0 5%;
    border: none;
}

.articolo {
    float: left;
    width: 18%;
    height: 20%;
    padding: 3%;
    margin: 3% 0.5% 5%;
    background-color: #232F34;
    word-wrap: break-word;
    /*box-shadow: inset 5px 5px 5px #161e22;*/
    color: white;
    border-radius: 15%;
    overflow: hidden;

}

#submit {
    width: 100%;
    word-wrap: break-word;
    font-size: 40%;
    color: white;
}

.articolo:hover {
    background-color: #232f34;
    box-shadow: 5px 5px 5px #161e22;
}

/* FINE NEWS */



/* TOOL */

.tool {
    float: left;
    width: 80%;
    padding: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 2%;
    margin-left: 7%;
    background-color: #232F34;
    box-shadow: inset 5px 5px 5px #161e22;
    color: white;
}

.tool:hover {
    background-color: #232f34;
    box-shadow: 5px 5px 5px #161e22;
}

/*.tooltesto c'è sull'html ma manca sul css*/

/* FINE TOOL */



/* COMMUNITY */

.comm {
    font-size: 200%;
    display: inline-block;
    position: relative;
    bottom: 2%;
    margin: 5%;
}

/* FINE COMMUNITY */



/* Full-width inputs */
/*input[type=text], input[type=password], input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 2%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/

/* Center the avatar image inside this container */



/* ARTICOLO */

.testo {
    width: 60%;
    margin-left: 20%;
    margin-top: 7%;
    font-family: 'Quicksand', sans-serif;
    font-size: 170%;
    color:white;
    line-height: 220%;
    word-spacing: 18px;
}

.titolotesto {
    width: 60%;
    margin-left: 20%;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 200%;
    color:white;
}

.divtesto h5{
    width: 60%;
    margin-left: 74%;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    text-align: right;
    color:white;
}

.delete_button {
    border: none;
    background: #FF0000;
    color: #FFFFFF;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    margin: 1%;
}

.delete_button:hover {
    color: #FF0000;
    font-weight: 700;
    letter-spacing: 3px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

/* ARTICOLO */



/* ADMIN */

.title {
    margin:2% 2%;
}

.title h4{
    font-size: 150%;
    font-family: 'Quicksand', sans-serif;
    color:white;
    word-spacing: 5px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, td {
    text-align: center;
    padding: 8px;
}

.table tr:nth-child(odd){
    background-color: rgb(36,38,38);
}

.table tr:nth-child(even) {
    background-color: rgb(24,26,26);
    color: #cccccc;
}

.table td {
    border-bottom: 1px solid grey;
}

.table th {
    background-color: #00665c;
    color: white;
}

/* FINE ADMIN */



/* ADMIN-TOOLS E ADMIN-ARTICOLI*/

.register-field-d {
    float: left;
    padding: 2%;
    margin-top: 5%;
    width: 70%;
    margin-bottom: 5%;
    margin-left: 12%;
    border-radius: 3px;
}

.register-field-d:focus {
    border: 2px solid #72DEFF;
}

/* FINE ADMIN-TOOLS E ADMIN-ARTICOLI */



/* LOGIN, REGISTER, ADMIN-ARTICOLI E ADMIN-TOOLS */

.form {
    float: left;
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    height: auto;
    background-color: #00665c;
    color: #cccccc;
    border-radius: 30px;
}

.form-input {
    padding: 5%;
    stroke: black;
    margin-bottom: 10%;
}

.form-input p {
    color: #72DEFF;
    text-align: center;
}

/* FINE LOGIN, REGISTER, ADMIN-ARTICOLI E ADMIN-TOOLS */



/* REGISTER, ADMIN-ARTICOLI E ADMIN-TOOLS */

.submit-button {
    float: left;
    width: 20%;
    margin-left: 40%;
    padding: 1.5%;
    margin-top: 5%;
    margin-bottom: 8%;
    border-radius: 15px;
    background-color: #72DEFF;
    box-sizing: content-box;
}

.register-field-a {
    float: left;
    width: 26.5%;
    padding: 2%;
    margin-top: 2%;
    margin-left: 12%;
    margin-bottom: 4%;
}

.register-field-a:focus {
    border: 2px solid #72DEFF;
}

/* FINE REGISTER, ADMIN-ARTICOLI E ADMIN-TOOLS */



/* LOGIN E REGISTER */

/* Set a style for all buttons */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.imgcontainer i {
    font-size: 7rem;
}

.register-field-b {
    float: left;
    width: 50%;
    padding: 2%;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 3px;
}

.register-field-b:focus {
    border: 2px solid #72DEFF;
}

/* FINE LOGIN E REGISTER */



/* LOGIN */

.register-button {
    float: left;
    width: 30%;
    background-color: transparent;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 4%;
    border: none;
    cursor: pointer;
}

.login-button {
    float: left;
    width: 20%;
    margin-left: 25%;
    margin-bottom: 4%;
    padding: 1%;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #72DEFF;
}

.form-container-button {
    float: left;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 3%;
}

/* FINE LOGIN */



/* CHI SIAMO */

.divblock {
    float: left;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.profile  {
    float: left;
    width: 20%;
    text-align: center;
    margin-left: 4%;
    margin-top: 2%;
}

.profile label {
    color: #ffffff;
    width: 100%;
    font-size: 140%;
}

.profile img {
    float: left;
    width: 100%;
}

#contattacileft label {
    float: left;
    color: #cccccc;
    font-size: large;
    width: 100%;
}

#contattacileft {
    float: left;
    text-align: left;
    padding-left: 20%;
}

#contattaciright {
    float: right;
    text-align: left;
    padding-right: 20%;
}

.inst {
    height: 80px;
    width: 100px;
    position: relative;
    bottom: 70px;
}

/*#googlemap c'è sull'html ma manca sul css*/

/* FINE CHISIAMO */



/* MEDIA QUERY */

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Con schermo più piccolo di 1000px nascondo
   gli elementi della navbar e mostro l'hamburger*/
@media screen and (max-width: 1260px) {

    /*#myHamburger {
        display: block;
        text-align: center;
        background-color: #232F34;
    }*/

    .footerFloat a {
        color: white;
    }

    .footerFloat {
        width: 70%;
        margin: auto;
        padding: 80px 80px;
        border-bottom: 1px solid grey;
        border-right: none;
        float: none;
    }

    .footerFloat p {
        color: whitesmoke;
        display: inline-block;
        position: relative;
        bottom: 210px;
        left: 395px;
    }

    .footerFloat ul {
        display: block;
        position: relative;
        bottom: 50px;
    }

    .footerFloat ul li {
        font-size: 150%;
        list-style-type: disc;
        color: whitesmoke;
    }

    .instagram {
        position: relative;
        bottom: 200px;
        left: 380px;
        width: 190px;
        display: block;

    }

    .logo {
        position: relative;
        bottom: 50px;
        left: 70px;
        width: 160px;
        display: block;

    }

    .underFooter {
        font-size: 100%;
        padding-left: 25px;
        padding-bottom: 5px;
        padding-top: 5px;
        color: whitesmoke;
        background-color: rgb(24, 26, 26);
    }
}

/* FINE MEDIA QUERY */



/* NON TROVATE NELLE PAGINE */

/* .filtri{
    font-size: 140%;
    color:white;
    text-align: center;
}

.form-label {
    float: left;
    width: 20%;

    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 4%;
    border-radius: 3px;
}

.cerca{
    margin-left: 40%;
    width: 20%;
    text-align: center;
    border-radius: 1em;
}

.intest{
    color: white;
}

.funz {
    width: 60%;
    margin: auto;
    height: auto;
    background-color: #00665c;
    color: #cccccc;
    border-radius: 30px;
} */